*.tar.gz filter=lfs diff=lfs merge=lfs -text
cifar-10-batches-py/* filter=lfs diff=lfs merge=lfs -text
cifar-100-python/* filter=lfs diff=lfs merge=lfs -text
*.tar.gz !text !filter !merge !diff
cifar-10-batches-py !text !filter !merge !diff
cifar-100-python !text !filter !merge !diff
